RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite query string to path
# `trombino?cycle=dc` to `trombino/dc`

# RewriteCond %{QUERY_STRING} ^(\w+)=(.+)$
# RewriteRule trombino /trombino/%2? [R=301,L]

RewriteRule ^(.*)$ index.php [QSA,L]